.education-title {
  font-size: 25px;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.education-container {
  margin-top: 70px;
}

.school {
  font-size: 18px;
}

.education-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}

.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  word-wrap: break-word;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.card-front {
  background-color: #fff;
  font-size: 15px;
}

.card-back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
  font-size: 16px;
}

.title {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.code {
  font-weight: normal;
  font-size: 16px;
}

.classes {
  margin: 20px;
}

.class {
  margin: 10px 0;
}

.background {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .education-content {
    width: 90%;
  }

  .card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .education-content {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .card-inner {
    height: auto;
  }

  .card-front, .card-back {
    position: static;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .card-back {
    padding: 20px;
  }
}
