.experience-title {
  font-size: 25px;
}

.experience-container {
  margin-top: 70px;
}

.experience-content {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.card-back {
  /* display: flex;
  flex-direction: column; */
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.work {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.work-title {
  /* font-weight: bold; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.position {
  font-weight: normal;
  /* font-style: italic; */
  font-size: 16px;
}

.date {
  font-weight: normal;
  /* font-style: italic; */
  font-size: 12px;
}

.linked-in {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  /* margin-right: 20px;
  margin-left: 20px; */
  border-radius: 6px;
  border-width: 1px;
  margin: 10px 10px;
}

.button {
  margin-top: 5px;
  background-color: #CAD2C5;
}

.button:hover {
  color: #84A98C;
  text-decoration: underline;
}
