.container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 140px;
}

.profile-img {
  display: flex;
  width: 250px;
  height: 280px;
  border-radius: 200px;
  /* margin-left: 10%; */
}

.name-and-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin-right: 30% */
}

.name {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.description {
  margin-left: 80px;
  margin-right: 80px;
}
