@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 140px;
}

.profile-img {
  display: flex;
  width: 250px;
  height: 280px;
  border-radius: 200px;
}

.name-and-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.description {
  margin-left: 80px;
  margin-right: 80px;
  font-size: 17px;
  white-space: pre-line;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    /* margin-top: 70px; */
    margin-bottom: 20px;
  }

  .description {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .description {
    margin-left: 0;
    margin-right: 0;
  }
}
