.header-spacing {
  background-color: #52796F;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 56px;
  padding: 0 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.sections {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 6px;
  border-width: 1px;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  text-align: center;
  margin: 0 20px;
}

.sections:hover {
  color: rgb(76, 150, 220);
  text-decoration: underline;
}

.nav-elements {
  display: flex;
  align-items: center;
  width: 65%;
}

.resume {
  color: rgb(88, 88, 88);
}
