@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

.header-spacing {
  background-color: #52796F;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 56px;
  padding: 0 10px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.sections {
  color: rgb(88, 88, 88);
  text-decoration: none;
  border-radius: 6px;
  border-width: 1px;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  text-align: center;
  margin: 0 20px;
  background-color: #CAD2C5;
}

.sections:hover {
  color: #84A98C;
  text-decoration: underline;
}

.nav-elements {
  display: flex;
  align-items: center;
  width: 65%;
}

.resume {
  color: rgb(88, 88, 88);
}

.resume:hover {
  color: #84A98C;
  text-decoration: underline;
}
